name: Deployment
on:
  workflow_dispatch:
    inputs:
      BASE_BRANCH_NAME:
        description: Branch to diff from
        required: true
        type: choice
        options:
          - main
      DEPLOYMENT_SCOPE:
        description: Deployment scope
        required: true
        type: choice
        options:
          - DELTA
          - FULL
      DEPLOYMENT_MODE:
        description: Deployment mode
        required: true
        type: choice
        options:
          - DEPLOY
          - VALIDATE
          - QUICK
      JOB_ID:
        description: Deployment Job Id, required if using quick deploy
        required: false
        type: string
      ENVIRONMENT:
        description: Target deployment environment
        required: true
        type: choice
        options:
          - Dev
          - Prod
      TEST_LEVEL:
        description: Deployment Test Level
        required: true
        type: choice
        options:
          - NoTestRun
          - RunLocalTests
          - RunAllTestsInOrg

jobs:
  setup:
    environment: ${{ ENVIRONMENT }}
  
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      SGD_IGNORE_FILE: ${{ vars.SGD_IGNORE_FILE }}
    steps:
      - name: Evaluate environment variables
        run: |
          echo "SGD_IGNORE_FILE=${{ vars.SGD_IGNORE_FILE }}"
          echo "SGD_IGNORE_FILE=${{ env.SGD_IGNORE_FILE }}"
          echo "SGD_IGNORE_FILE=${{ vars.SGD_IGNORE_FILE }}"  >> "$GITHUB_OUTPUT"
        
      
  deploy:
    needs: setup
    uses: william-cheng-git/sfdx-deployment/.github/workflows/deploy.yml@main
    with:
      BRANCH_NAME: ${{ github.ref_name }}
      BASE_BRANCH_NAME: ${{ inputs.BASE_BRANCH_NAME }}
      TEST_LEVEL: ${{ inputs.TEST_LEVEL }}
      SF_USERNAME: omegawill@creative-otter-5qmme6.com
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      DEPLOYMENT_SCOPE: ${{ inputs.DEPLOYMENT_SCOPE }}
      DEPLOYMENT_MODE: ${{ inputs.DEPLOYMENT_MODE }}
      JOB_ID: ${{ inputs.JOB_ID }}
      SGD_IGNORE_FILE: ${{ needs.setup.outputs.SGD_IGNORE_FILE }}
    secrets:
      SF_SERVER_KEY: ${{ secrets.SF_SERVER_KEY }}
      SF_CONSUMER_KEY: ${{ secrets.SF_CONSUMER_KEY }}
    
