name: Deployment
on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        description: Target deployment environment
        required: true
        type: choice
        options:
          - Dev
          - Prod
      BASE_BRANCH_NAME:
        description: Branch to diff from
        required: true
        type: choice
        options:
          - main
      TEST_LEVEL:
        description: Deployment Test Level
        required: true
        type: choice
        options:
          - NoTestRun
          - RunLocalTests
          - RunAllTestsInOrg

jobs:
  deploy:
    uses: william-cheng-git/sfdx-deployment/.github/workflows/deploy.yml@main
    with:
      BRANCH_NAME: ${{ github.ref_name }}
      BASE_BRANCH_NAME: ${{ inputs.BASE_BRANCH_NAME }}
      TEST_LEVEL: ${{ inputs.TEST_LEVEL }}
      SF_USERNAME: omegawill@creative-otter-5qmme6.com
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets:
      SF_SERVER_KEY: ${{ secrets.SF_SERVER_KEY }}
      SF_CONSUMER_KEY: ${{ secrets.SF_CONSUMER_KEY }}
