name: Deployment
on:
  workflow_dispatch:
    inputs:
      BASE_BRANCH_NAME:
        description: Branch to diff from
        required: true
        type: choice
        options:
          - main
      DEPLOYMENT_SCOPE:
        description: Deployment scope
        required: true
        type: choice
        options:
          - DELTA
          - FULL
          - ROLLBACK
      DEPLOYMENT_MODE:
        description: Deployment mode
        required: true
        type: choice
        options:
          - DEPLOY
          - VALIDATE
          - QUICK
      JOB_ID:
        description: Deployment Job Id, required if using quick deploy
        required: false
        type: string
      ENVIRONMENT:
        description: Target deployment environment
        required: true
        type: choice
        options:
          - Dev
          - Prod
          - Trailhead-training2
      TEST_LEVEL:
        description: Deployment Test Level
        required: true
        type: choice
        options:
          - RunLocalTests
          - NoTestRun
          - RunAllTestsInOrg
          - ChangedTests

jobs:
  deploy:
    uses: william-cheng-git/sfdx-deployment/.github/workflows/deploy.yml@main
    with:
      BRANCH_NAME: ${{ github.ref_name }}
      BASE_BRANCH_NAME: ${{ inputs.BASE_BRANCH_NAME }}
      TEST_LEVEL: ${{ inputs.TEST_LEVEL }}
      SF_USERNAME: omegawill@creative-otter-5qmme6.com
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      DEPLOYMENT_SCOPE: ${{ inputs.DEPLOYMENT_SCOPE }}
      DEPLOYMENT_MODE: ${{ inputs.DEPLOYMENT_MODE }}
      JOB_ID: ${{ inputs.JOB_ID }}
    secrets:
      SF_SERVER_KEY: ${{ secrets.SF_SERVER_KEY }}
      SF_CONSUMER_KEY: ${{ secrets.SF_CONSUMER_KEY }}
    
